main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.tile {
    width: 50%;
    height: 700px;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: -3px 3px 20px black;
    position: relative;
}

.screen-reader-only {
    font-size: 1px;
    color: transparent;
}

.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

.header-left {
    flex: 20%;
}

header h3 {
    flex: 60%;
    text-align: center;
    margin: 10px;
}

#auth-menu {
    display: flex;
    flex: 20%;
    justify-content: right;
}

#rate-menu {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#rate-menu *{
    display: inline-block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#student-table {
    margin-top: 25px;
    max-height: 300px;
    overflow-y: scroll;
}

#student-table * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#student-table table {
    width: 100%;
    background-color: #aaa;
    border-collapse: collapse;
}

.table-header {
    margin-bottom: 15px;
}

.table-header th {
    border-top: solid #222 3px;
    border-bottom: solid #222 3px;
    text-align: left;
    padding-left: 10px;
}

td {
    padding: 10px;
}

.student-name {
    min-width: 386px;
}

.btn {
    border-radius: 5px;
    border: solid #222 2px;
    padding: 5px;
    height: 35px;
}

.btn-manage {
    background-color: #6fd1d4;
}
.btn-manage:hover {
    background-color: #008c91;
}
.btn-manage:active {
    background-color: #005a5d;
}

.btn-profile {
    height: 40px;
    width: 40px;
    margin: 5px 30px 5px 0px;
}

.btn-add {
    background-color: #179732;
    width: 35px;
}
.btn-add:hover {
    background-color: #1b8532;
}
.btn-add:active {
    background-color: #196e2c;
    color: #ddd;
}

.btn-del {
    background-color: transparent;
    width: 35px;
}
.btn-del:hover {
    background-color: #970000;
}
.btn-del:active {
    background-color: #5d0000;
    color: #ddd;
}

.tr-odd {
    background-color: #aaa;
}

.tr-even {
    background-color: #ccc;
}